# --- Entornos y credenciales (Seguridad crítica) ---
.env
*.env
venv/
env/

# --- Datos pesados y muestras locales (Evita bloqueos en GitHub) ---
muestra/*.csv
data/
*.parquet
*.json

# --- Basura del sistema operativo y editores ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Caché de Python ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/